@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', sans-serif;
}

.bg-beige{
    background-color: beige;
}
.bg-blue{
    background-color: rgb(17, 75, 75);
}

t-white{
    color: white;
}
.d-flex{
display: flex;
}

.service img{
    width: 368px;
    height: 278px;
}

.logo{
    width: 100px;
    height: 100px;
}
.baniereimg{
    width: 100vw;
}
